@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.panel-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.dashboard-container {
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.05);
}


/* Chrome, Edge, Safari */
.panel-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.panel-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.panel-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.panel-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Hide scrollbar for smoother mobile look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}






/* Table CSS ===================================================================================================== */

.main-table tbody tr:nth-child(odd) {
  @apply bg-white;
}

.main-table tbody tr:nth-child(even) {
  @apply bg-gray-50;
}

.main-table .clickable-row:hover {
  @apply bg-gray-100;
}

.main-table tbody tr:nth-child(even) .fixed-td {
  @apply bg-gray-50;
}

.main-table tbody tr:nth-child(odd) .fixed-td {
  @apply bg-white;
}

.main-table .clickable-row:hover .fixed-td {
  @apply bg-gray-200 duration-300;
}

.main-table tbody tr .selected-tr {
  @apply bg-gray-200;
}

/*  */

.main-table-alt .clickable-row:hover {
  @apply bg-gray-50;
}

.main-table-alt tbody tr .fixed-td {
  @apply bg-white;
}

.main-table-alt .clickable-row:hover .fixed-td {
  @apply bg-gray-50/60 duration-300;
}

.main-table-alt tbody tr .selected-tr {
  @apply bg-gray-200;
}

/* Table CSS ====