.splash-screen {
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: rgba(249, 250, 251, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 250px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


/* CHART OUTLINE */


.recharts-rectangle,
.recharts-rectangle:focus,
.recharts-rectangle:active,
.recharts-rectangle:focus-visible {
  outline: none !important;
  border: none !important;
}


.recharts-wrapper svg * {
  outline: none !important;
  border: none !important;
}

svg:focus {
  outline: none !important;
}


